<%- include("partials/header"); -%>

    <a href="/">
        <h1>Home</h1>
    </a>
    <i class="fas fa-camera"></i>
    <p>
        <%= startingContent %>
    </p>

    <% for( let i=0; i < postArray.length; i++ ) { %>
        <a href="/posts/<%= postArray[i]._id %> ">
            <h1>
                <%= postArray[i].title %>
            </h1>
        </a>
        <p>
            <%= postArray[i].body.substring(0, 100) + "..." %>
                <a href="/posts/<%= postArray[i]._id %> ">Read More</a>
        </p>
        <% } %>


            <a href="/compose" class="float no-link">
                <i class="fas fa-camera"></i>

            </a>



            <%- include("partials/footer"); -%>